# Python env
jb39/
__pycache__/

# Experiments
experiments/

# Data
*.db
*.log
*.csv
*.json
app_status
app_status_

# Testing results
test_db.sqlite
test*.sqlite*

# Build (nuitka)
*.build/
*.dist/

# Resources
*.pptx

# Config Editor GUI
editor-status
